@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0f1117] text-white antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
